@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 784px;
  width: 100%;
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  margin: 0 auto;
  padding-top: 33px;
  background-color: white;
}

.top-panel {
  margin-left: 65px;
  margin-right: 47px;
  display: flex;
  justify-content: space-between;
}

.logo {
  line-height: 28px;
  font-size: 24px;
  font-weight: bolder;
  color: white;
}

.menu {
  display: flex;
  width: auto;
  line-height: 44px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.item:hover {
  color: rgb(250, 244, 244);
  font-weight: bolder;
  cursor: pointer;
}

.item {
  padding-left: 15px;
  font-size: 16px;
}

.sign-up {
  background-color: #deff06;
  border: none;
  width: 110px;
  padding: auto !important;
  font-size: 13px;
  margin-left: 15px;
}

button:hover {
  background-color: #0d6efd !important;
  color: #fff;
}

.hero-content {
  width: 680px;
  height: 580px;
  margin: auto;
  padding-top: 160px;
  text-align: center;
  color: #fff;
}

.main-title {
  font-size: 54px;
}

.shadow {
  text-shadow: 2px 5px 6px #777676;
}

.form {
  display: flex;
  justify-content: center;
}

.search {
  height: 55px;
  font-size: 13px;
  border: none;
}

.postcode {
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  width: 142px;
  padding-left: 15px;
}

.model {
  width: 310px;
  padding-left: 15px;
}

input:focus {
  border: 2px solid #8a5806;
  outline: none;
}

button.search {
  background-color: #deff06;
  border: none;
  width: 142px;
}
.hero-content img {
  padding-top: 80px;
  max-width: 100%;
}

.section {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.title {
  font-size: 30px;
  font-weight: bolder;
}

.des {
  font-size: 20px;
  display: block;
  padding: 0 50px;
}

.list {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-list {
  width: 300px;
  height: 250px;
  background-color: #e3e3e3;
  position: relative;
}

.item-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.car {
  margin: auto;
}

.name {
  line-height: 50px;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.tag {
  position: absolute;
  top: 40px;
  right: -8px;
}

.price {
  position: absolute;
  top: 45px;
  right: 10px;
  color: #fff;
}

.more-info {
  margin: 50px auto;
  width: 230px;
  height: 60px;
  text-transform: uppercase;
  background-color: #f5a623;
  text-align: center;
  line-height: 60px;
  color: #fff;
  cursor: pointer;
}

.top-buying {
  margin: 50px 90px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 24px;
  font-style: bolder;
  flex-wrap: wrap;
}

.top-buying p {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: block;
  text-align: center;
  width: 100%;
}

.img {
  position: relative;
  width: fit-content;
}

.bottom-panel {
  background-image: url("./img/ending-panel.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 350px;
}

.align {
  padding-top: 80px !important;
  color: #fff;
}

.color {
  color: #ffffffb3 !important;
}

.email {
  height: 55px;
  font-size: 13px;
  border: none;
  width: 350px;
  padding-left: 15px;
}

.footer {
  height: 100px;
  background-color: #342c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 65px;
  padding-right: 47px;
}

.hide,
.top-panel-mobile {
  display: none;
}

.sign-up-m {
  width: 100%;
  height: 30px;
  background-color: #593904;
  font-size: 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  color: #fff;
  cursor: pointer;
}

.logo-m {
  height: auto;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-align: center;
  position: relative;
}

.menu-icon {
  position: absolute;
  left: 0px;
  top: 0px;
}

.menu-m {
  width: 100%;
  line-height: 30px;
  margin-top: 15px;
  text-align: center;
}

.item-m {
  border-top: 1px solid black;
  background-color: #593904;
  width: 100%;
  cursor: pointer;
}

.item-m:hover {
  background-color: #0d6efd !important;
  color: white;
}

.footer-mobile {
  display: none;
}

@media (max-width: 600px) {
  .top-panel,
  .hero-content img,
  .footer {
    display: none;
  }

  .top-panel-mobile {
    display: block;
  }

  .container {
    height: fit-content;
    width: 100%;
    background-image: none;
    background-color: #f5a623;
    margin: 0 auto;
    padding: 15px;
  }

  .hero-content {
    padding-top: 80px;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .model,
  .postcode {
    width: 50%;
    border: NONE;
    border-bottom: 1px solid rgb(170, 169, 169);
  }

  button.search {
    margin: 5px auto;
  }

  .list {
    margin-left: 15px;
    margin-right: 15px;
  }

  .item-list {
    width: 100%;
    height: 18rem;
  }

  .top-buying {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .bottom-panel {
    height: auto;
    padding: 0 15px 15px 15px;
  }
  .email {
    width: 100%;
  }
  .align {
    padding-top: 30px !important;
  }
  .sign-up {
    height: 40px;
    margin: 15px auto;
  }

  .footer-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: #fff;
    height: auto;
    background-color: #342c2c;
    line-height: 50px;
  }
}

@media (max-width: 1024px) {
  .top-panel,
  .footer {
    display: none;
  }

  .top-panel-mobile {
    display: block;
  }

  .container {
    height: fit-content;
    width: 100%;
    background-image: none;
    background-color: #f5a623;
    margin: 0 auto;
    padding: 15px;
  }

  .hero-content {
    padding-top: 50px;
    width: 100%;
  }

  .hero-content img {
    padding-top: 30px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .model,
  .postcode {
    width: 100%;
    border: NONE;
    border-bottom: 1px solid rgb(170, 169, 169);
  }

  button.search {
    margin: 5px auto;
  }

  .section {
    margin-top: 100px;
  }

  .list {
    margin-left: 15px;
    margin-right: 15px;
  }

  .item-list {
    width: 100%;
    height: 18rem;
  }

  .top-buying {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .bottom-panel {
    height: auto;
    padding: 0 15px 15px 15px;
  }

  .email {
    width: 100%;
  }

  .align {
    padding-top: 30px !important;
  }

  .sign-up {
    height: 40px;
    margin: 15px auto;
  }

  .footer-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: #fff;
    height: auto;
    background-color: #342c2c;
    line-height: 50px;
  }
}
