* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(50, 50, 83);
}

.header {
  height: 60px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 30px;
  background-color: white;
}

.menu {
  width: 500px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu1 {
  background-color: white;
  width: 100px;
}

#content {
  width: auto;
  height: 500px;
  background-color: white;
  margin: 15px;
}

.hide {
  display: none !important;
}

/* ------ */
.header1 {
  margin: 15px;
  height: auto;
  display: none;
}

img {
  display: block;
}

.menu-mobile {
  width: 100%;
  margin-top: 15px;
}

.menu2 {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #323253;
}

.menu2:hover{
  background-color: rgb(50, 50, 10);
  color: white;
}

@media (max-width: 600px) {
  .header {
    display: none;
  }
  .header1 {
    display: block;
  }

  .content {
    margin-top: 0;
  }
}
