* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(50, 50, 83);
  line-height: 25px;
}

.header {
  height: 60px;
  width: auto;
  margin: 15px;
  display: flex;
}

#first {
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  width: 100px;
  height: 30px;
  background-color: white;
}

.menu {
  width: 100%;
  height: 25px;
  margin-left: 200px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
}

.menu1 {
  height: 25px;
  background-color: white;
  width: 130px;
  border-left: 0.5px solid rgb(50, 50, 83);
}

#login {
  margin-left: auto;
  margin-right: 0;
}

#content {
  width: auto;
  height: 500px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left-panel {
  height: 600px;
  width: 930px;
  background-color: white;
}
#right-panel {
  height: 600px;
  width: 550px;
  background-color: white;
}

.hide {
  display: none !important;
}
/* ------------------ */
.header1 {
  height: auto;
  margin: 15px;
  display: none;
  }
#btn {
  display: flex;
}

img {
  display: block;
  margin-right: 20px;
}

.menu-mobile {
  margin-top: 15px;
  width: 100%;
}

.menu2 {
  height: 25px;
  background-color: white;
  border-bottom: 1px solid rgb(50, 50, 83);
  width: auto;
}

@media (max-width: 600px) {
  .header {
    display: none;
  }

  .header1 {
    display: block;
  }

  #content {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: auto;
  }

  #left-panel,
  #right-panel {
    width: auto;
    height: 400px;
    margin-bottom: 15px;
  }
}
