* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(50, 50, 83);
  line-height: 25px;
}

#header {
  height: 60px;
  width: auto;
  margin: 15px;
  display: flex;
}

#top {
  margin-top: auto;
  margin-bottom: auto;
}

#logo {
  width: 100px;
  height: 30px;
  background-color: white;
}

#menu {
  width: 100%;
  height: 25px;
  margin-left: 200px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
}

.menu1 {
  height: 25px;
  background-color: white;
  width: 130px;
  border-left: 0.5px solid rgb(50, 50, 83);
}

#login {
  margin-left: auto;
  margin-right: 0;
}

#content {
  width: auto;
  height: 500px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left-panel {
  height: 600px;
  width: 930px;
  background-color: rgb(235, 77, 77);
}
#right-panel {
  height: 600px;
  width: 550px;
  background-color: white;
}

img {
  display: none;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  img {
    display: inline;
  }

  #logo {
    display: inline;
    margin: auto auto auto 15px;
    width: 80px;
    height: 20px;
  }

  #top {
    display: flex;
    padding-top: 2px;
  }

  #header {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 20px;
  }

  #menu {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  .menu1 {
    width: 100%;
    height: 25px;
    border-bottom: 0.5px solid rgb(50, 50, 83);
  }

  #content {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: auto;
  }

  #left-panel,
  #right-panel {
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
  }

  .show-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 115px;
    justify-content: space-between;
  }
}
