body {
    margin-top         : 150px;
    margin-left        : 120px;
    box-sizing         : border-box;
    background-image   : url('https://i.ibb.co/cTRf8FW/curex.jpg');
    background-position: top;
    background-repeat  : none;
    background-size    : cover;
}

#container {
    width           : 500px;
    height          : auto;
    background-color: rgba(255, 255, 255, 0.486);
    text-align      : center;
    border-radius   : 10px;
    border          : 2px solid #342947;
}

p {
    font-size: 20px;
}

#number {
    border-radius: 5px;
    width        : 300px;
    height       : 40px;
    border       : 1px solid #342947;
    padding-left : 15px;
}

input {
    outline: none;
}

#button {
    border-radius   : 5px;
    width           : 80px;
    height          : 40px;
    text-transform  : uppercase;
    font-weight     : bold;
    outline         : none;
    background-color: rgb(76, 218, 91);

}

#button:hover {
    border-radius   : 5px;
    width           : 80px;
    height          : 40px;
    text-transform  : uppercase;
    font-weight     : bold;
    outline         : none;
    background-color: rgb(223, 64, 33);
}

#resetButton {
    border-radius   : 5px;
    width           : 80px;
    height          : 40px;
    text-transform  : uppercase;
    font-weight     : bold;
    outline         : none;
    background-color: rgb(76, 218, 91);

}

#resetButton:hover {
    border-radius   : 5px;
    width           : 80px;
    height          : 40px;
    text-transform  : uppercase;
    font-weight     : bold;
    outline         : none;
    background-color: rgb(223, 64, 33);
}


.action {
    color: rgb(223, 64, 33);
}

#from,
#to {
    height       : 30px;
    border       : 1px solid #342947;
    border-radius: 5px;
    padding-left : 10px;
}

h1 {
    text-transform: uppercase;
}

.inputlabel {
    font-weight: bold;
}