body {
    margin: 200px auto;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('https://tinyurl.com/6z42ebcn');
    background-position: top;
    background-repeat: none;
    background-size: cover;
    }

#container {
    width: 500px;
    height: 400px;
    background-color: rgba(241, 248, 246, 0.623);
    text-align:center;
    border-radius: 5px;
    }
    
p{font-size: 20px;}

#number{
    border-radius: 5px;
    width: 200px;
    height: 40px;
    outline: none;
    padding-left: 15px;
}
#button{
    border-radius: 5px;
    width: 80px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    background-color: rgb(76,218,91);
    
}
#guessButton:hover{
    border-radius: 5px;
    width: 80px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    background-color: rgb(223,64,33);
}
#resetButton{
    border-radius: 5px;
    width: 80px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    background-color: rgb(76,218,91);
    
}
#resetButton:hover{
    border-radius: 5px;
    width: 80px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    background-color: rgb(223,64,33);
}
.alert{ 
    font-size: 25px;
    color:rgb(219, 6, 6);
}

.result{
    font-size:25px;
    color: rgb(21, 129, 252);
}