* {
  box-sizing: border-box;
  margin: 0;
}

#grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  padding:30px;
  background-color: aqua;
}

.grid-item {
  width: 100%;
  height: 200px;
  background-color: blue;
}

@media (max-width: 600px ){
    #grid-container {
        display: grid;
        grid-template-columns: auto ;
        padding:15px;
        grid-gap:15px;
    }
}