@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Dela Gothic One", cursive;
}

body {
  background-image: url("https://i.ibb.co/L6zwJNx/forest-mini.webp");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 20px;
  background-color: rgb(50, 50, 83);
}

.wrapper {
  width: 100%;
  padding: 200px 150px 0px 150px;
}

.container,
.container1,
.container2 {
  height: auto;
  width: 100%;
}

.hide {
  display: none !important;
}

/* Phần mở đầu */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 80px;
}

#start {
  font-size: 1.5em;
  background-color: rgb(243, 182, 16);
  height: 90px;
  width: 250px;
  font-family: "Dela Gothic One", cursive;
  font-size: 1.4em;
  border-radius: 10px;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#start:hover {
  background-color: rgb(250, 53, 18);
  color: white;
}

.btn {
  height: 90px;
  width: 350px;
  font-family: "Dela Gothic One", cursive;
  font-size: 1em;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.08, 1.08);
  transition: all 0.2s 0s ease-in-out;
}

/* Phần câu hỏi */

#question {
  font-size: 1.4em;
  text-align: center;
}

#answer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 100px;
  height: auto;
}

#answer .btn {
  margin-top: 20px;
}

.red {
  background-color: #f52533;
  color: whitesmoke;
}

.blue {
  background-color: #0067d5;
  color: whitesmoke;
}

.yellow {
  background-color: #ffa200;
  color: whitesmoke;
}

.green {
  background-color: #008b00;
  color: whitesmoke;
}

.gray {
  background-color: #828382 !important;
  color: whitesmoke;
}

/* Next */
.next,
.finish,
.restart {
  background-color: #4e1b95;
  color: whitesmoke;
  font-size: 1.2em;
  padding: 15px 15px;
  font-family: "Dela Gothic One", cursive;
  border-radius: 40px;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.next:hover,
.finish:hover,
.restart:hover {
  background-color: rgb(145, 5, 70);
}

.total-score,
.end {
  text-align: center;
  font-size: 1.2em;
  font-family: "Dela Gothic One", cursive;
}

.num-subs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.restart {
  width: 200px;
}

#author{
  padding-top: 180px;
  font-size: 0.6em;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .wrapper {
     padding: 400px 50px 0px 50px;
  }

  #author{
    padding-top: 450px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    padding: 120px 100px 0px 100px;
  }

  #author{
    padding-top: 450px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 40px 10px 0px 10px;
  }

  #question {
    font-size: 1em;
  }

  #answer {
    padding: 10px 10px;
  }

  .btn {
    height: 60px;
    width: 100%;
  }

  img {
    height: 60px;
    width: 270px;
  }

  .container, .container2 {
    margin-top: 100px;
  }

  #author{
    padding-top: 150px;
  }
}
