#image-zoom .modal-content {
  min-width: 900px;
}

.carousel-item > img:hover {
  cursor: pointer;
}

input,
select,
textarea {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: none;
  color: white;
}

label, input::placeholder{
  color: white;
}

.fa-calendar-alt {
  color: #f3a70c;
  font-size: 24px;
  z-index: 1;
  right: 8px;
  bottom: 8px;
}

textarea {
  min-height: 80px;
  outline: none;
}

input:focus,
select:focus {
  border: 1px solid #f3a70c;
  outline: none !important;
}

.bg {
  background-color: rgb(83, 83, 83, 0.85);
  border: 1px solid #d9d9d9;
  height: 100%;
  border-radius: 12px;
}

@media (max-width: 991.98px) {
  #image-zoom .modal-content {
    min-width: 700px !important;
  }
}

@media (max-width: 575.98px) {
  #gallery-image-zoom .modal-content {
    min-width: 100% !important;
  }
}
