/* Sign-up */

.signup {
  padding-top: 0;
  padding-bottom: 0;
  width: 90px;
  border-radius: 20px;
  border: 3px solid #f3a70c;
  text-align: center;
  cursor: pointer;
}

.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f3a70c;
  border-radius: 50px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}

.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Modal */

.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: #f3a70c;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f0c062;
  /* border: 1px solid #f3a70c; */
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/* Hero content */

.hero-content img {
  width: 100%;
  height: 600px;
}

.pick-date {
  width: 826px;
  height: 76px;
  margin: 20px auto;
  background-color: rgb(83, 83, 83, 0.85);
  overflow: hidden;
  border-radius: 10px;
  /* position: absolute;
  z-index: 1;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%); */
}

.check-in-date,
.check-out-date {
  width: 214px;
  height: 100%;
  padding: 8px 16px;
}

.calendar {
  position: absolute;
  bottom: 10px;
  right: 8px;
  width: 36px;
  z-index: 1;
}

.fa-calendar-alt {
  font-size: 24px;
  color: #f3a70c;
  cursor: pointer;
}

.kid-number > label,
.adult-number > label,
.check-in-date > label > p,
.check-out-date > label > p {
  text-align: center;
  line-height: 24px;
  color: #fff;
  margin: 0;
  font-family: H-condensedbold;
}

.hero-content input[type="text"],
.hero-content input[type="number"] {
  width: 100%;
  background-color: #12121200;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-family: H-condensedbold;
  font-size: 24px;
}

.hero-content input[type="text"] {
  padding: 0 8px;
}

.hero-content input[type="number"] {
  text-align: center;
  padding: 0;
}

.hero-content input[type="text"]:focus,
.hero-content input[type="number"]:focus {
  outline: none;
  border-color: #f3a70c;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1 !important;
}

.adult-number,
.kid-number {
  width: 112px;
  padding: 8px 16px;
}

.check-avail {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3a70c;
  width: 174px;
  cursor: pointer;
  transition: 0.5s ease;
}

.check-avail:hover {
  background-color: #be820a;
}

.check-avail > a {
  font-family: H-condensedbold;
}

/* Welcome area */

.welcome-text {
  max-width: 608px;
}

.welcome-text img {
  padding-bottom: 32px;
}

.welcome-img {
  max-width: 608px;
}

.welcome-img img {
  border-radius: 12px;
  width: 100%;
}

.guest-number {
  display: flex;
  justify-content: space-between;
}

/* Outstanding Service */

.services {
  background-image: url("/img/bg/bg1.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  border-top: 1px solid #f3a70c;
  border-bottom: 1px solid #f3a70c;
}

.service-list {
  justify-content: space-between;
}

.service-item {
  border: 1px solid #be820a;
  border-radius: 12px;
  padding: 8px 0px;
  width: 218px;
  height: 84px;
  margin: 18px 18px;
  background-color: #fff;
}

.service-item .icon i {
  color: #be820a;
  font-size: 33px;
  line-height: 36px;
}

.service-item .service-name {
  color: #be820a;
  padding-top: 8px;
  text-align: center;
}

/* Photo gallery */

.gallery .owl-carousel .item img {
  border-radius: 12px;
  transition: transform 0.5s ease-in-out;
}

.gallery .owl-carousel .item img:hover {
  transform: scale(1.03);
}

/* Reviews */
.guest-review {
  background-image: url("/img/bg/bg-review.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.review img {
  max-width: 120px;
}

/* Special offers */

.special-offers .owl-carousel .owl-item {
  left: 30px;
}

.special-offers .owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 40%;
}

.special-offers .owl-carousel .owl-nav button.owl-next {
  right: -60px;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -60px;
}

.special-offers .owl-carousel .owl-nav span[aria-label="Next"] > i,
.special-offers .owl-carousel .owl-nav span[aria-label="Previous"] > i {
  font-size: 30px;
  display: block;
  margin: auto;
}

.special-offers .card-body .btn {
  width: 180px;
  border: 2px solid #f3a70c;
  padding: 28px auto;
  transition: 0.5s;
  background: #fff;
}

.special-offers .card-body {
  padding: 28px auto;
}

.special-offers .card {
  height: auto;
  max-width: 500px;
}

.special-offers .card .card-img-overlay {
  top: 50%;
}

.special-offers .card .card-img-overlay h3 {
  font-family: H-condensedbold;
  font-size: 32px;
  border: 1px solid rgb(54, 54, 54);
  background: rgba(0, 0, 0, 0.6);
}

.card img {
  width: 100%;
}

/* Map */
.location {
  padding-top: 64px;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 440px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 440px;
}

.gmap_iframe {
  height: 440px !important;
}

@media (max-width: 1399.98px) {
  .welcome-text,
  .welcome-img {
    max-width: 45%;
  }

  .special-offers .owl-carousel .owl-item {
    left: 0px;
  }
}

@media (max-width: 1199.98px) {
  .hero-content img {
    width: 100%;
    height: auto;
  }

  .welcome-text,
  .welcome-img {
    max-width: 100%;
  }

  .hero-content input[type="text"],
  .hero-content input[type="number"] {
    font-size: 20px;
    text-align: center;
  }

  .service-item {
    padding: 8px 0px;
    width: 180px;
    height: auto;
    margin: 8px 8px;
  }

  .service-item .icon i {
    font-size: 20px;
    line-height: 24px;
  }

  .service-item .service-name {
    padding-top: 4px;
    font-size: 16px;
  }

  .special-offers .owl-carousel .owl-item {
    left: 0px;
  }

  .special-offers .owl-carousel .owl-item {
    left: 0px;
  }
}

@media (max-width: 991.98px) {
  .hero-content img {
    width: 100%;
    height: auto;
  }

  .hero-content input[type="text"],
  .hero-content input[type="number"] {
    font-size: 20px;
    text-align: center;
  }

  .pick-date {
    width: fit-content;
  }

  .check-in-date,
  .check-out-date {
    width: 180px;
    padding: 8px 16px;
  }

  .adult-number,
  .kid-number {
    width: 90px;
  }

  .check-avail {
    width: 130px;
  }

  .calendar {
    bottom: 15px;
    right: 4px;
  }

  .fa-calendar-alt {
    font-size: 20px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1 !important;
  }

  .service-item {
    padding: 8px 0px;
    width: 120px;
    height: auto;
    margin: 8px 8px;
  }

  .service-item .icon i {
    font-size: 20px;
    line-height: 24px;
  }

  .service-item .service-name {
    padding-top: 4px;
    font-size: 12px;
  }

  .special-offers .card .card-img-overlay h3 {
    font-size: 28px;
  }

  .special-offers .owl-carousel .owl-item {
    left: 30px;
  }

  .signup {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 575.98px) {
  .hero-content input[type="text"],
  .hero-content input[type="number"] {
    font-size: 18px;
    text-align: center;
  }

  .welcome-content {
    padding-top: 64px;
  }

  .pick-date {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: static;
    transform: translateX(0%);
    margin-top: 16px;
  }

  .check-in-date,
  .check-out-date {
    width: 100%;
  }

  .adult-number,
  .kid-number {
    width: 40%;
  }

  .check-avail {
    width: 100%;
    padding: 16px;
  }

  .calendar {
    display: block;
  }

  .fa-calendar-alt {
    font-size: 18px;
  }

  .calendar {
    bottom: 10px;
    right: 4px;
  }

  .carousel-indicators {
    display: none;
  }

  .service-list {
    justify-content: space-around;
  }
  .service-item {
    padding: 8px 0px;
    width: 100px;
    height: auto;
    margin: 8px 8px;
  }

  .service-item .icon i {
    font-size: 22px;
    line-height: 24px;
  }

  .service-item .service-name {
    padding-top: 4px;
    font-size: 12px;
  }

  .guest-review {
    background: #e1dfe0;
    background-image: none;
  }

  .special-offers .card .card-img-overlay h3 {
    font-size: 24px;
  }

  .special-offers .owl-carousel .owl-item {
    left: 0px;
  }

  .signup {
    width: 100%;
    margin: 10px 0;
  }
}
