/* Sign-up */

.signup {
  padding-top: 0;
  padding-bottom: 0;
  width: 90px;
  border-radius: 20px;
  border: 3px solid #f3a70c;
  text-align: center;
  cursor: pointer;
}

.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f3a70c;
  border-radius: 50px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}

.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Modal */

.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: #f3a70c;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f0c062;
  /* border: 1px solid #f3a70c; */
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/* Hero content */
.hero-content img {
  width: 100%;
  height: 600px;
}

.pick-date {
  width: 826px;
  height: 76px;
  margin: 20px auto;
  background-color: rgb(83, 83, 83, 0.85);
  overflow: hidden;
  border-radius: 10px;
}

.check-in-date,
.check-out-date {
  width: 214px;
  height: 100%;
  padding: 8px 16px;
}

.calendar {
  position: absolute;
  bottom: 10px;
  right: 8px;
  width: 36px;
  z-index: 1;
}

.fa-calendar-alt {
  font-size: 24px;
  color: #f3a70c;
  cursor: pointer;
}

.kid-number > label,
.adult-number > label,
.check-in-date > label > p,
.check-out-date > label > p {
  text-align: center;
  line-height: 24px;
  color: #fff;
  margin: 0;
  font-family: H-condensedbold;
}

.hero-content input[type="text"],
.hero-content input[type="number"] {
  width: 100%;
  background-color: #12121200;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-family: H-condensedbold;
  font-size: 24px;
}

.hero-content input[type="text"] {
  padding: 0 8px;
}

.hero-content input[type="number"] {
  text-align: center;
  padding: 0;
}

.hero-content input[type="text"]:focus,
.hero-content input[type="number"]:focus {
  outline: none;
  border-color: #f3a70c;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1 !important;
}

.adult-number,
.kid-number {
  width: 112px;
  padding: 8px 16px;
}

.check-avail {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3a70c;
  width: 174px;
  cursor: pointer;
  transition: 0.5s ease;
  font-family: H-condensedbold;
}

.check-avail:hover {
  background-color: #be820a;
}

.guest-number {
  display: flex;
  justify-content: space-between;
}

h5.title::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #f3a70c;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}

.card-body .btn:hover {
  transform: translateY(-10px);
}

.book-now {
  background: #f3a70c !important;
}

.more-details {
  background: #fff;
}

.col i {
  color: #f3a70c;
}

.icon{
    width: 24px;
}


/* End of Herocontent */

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .hero-content img {
    width: 100%;
    height: auto;
  }

  .hero-content input[type="text"],
  .hero-content input[type="number"] {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .hero-content img {
    width: 100%;
    height: auto;
  }

  .hero-content input[type="text"],
  .hero-content input[type="number"] {
    font-size: 20px;
    text-align: center;
  }

  .pick-date {
    width: fit-content;
  }

  .check-in-date,
  .check-out-date {
    width: 180px;
    padding: 8px 16px;
  }

  .adult-number,
  .kid-number {
    width: 90px;
  }

  .check-avail {
    width: 130px;
  }

  .calendar {
    bottom: 15px;
    right: 4px;
  }

  .fa-calendar-alt {
    font-size: 20px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1 !important;
  }

  .signup {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 575.98px) {
  .hero-content input[type="text"],
  .hero-content input[type="number"] {
    font-size: 18px;
    text-align: center;
  }

  .pick-date {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: static;
    transform: translateX(0%);
    margin-top: 16px;
  }

  .check-in-date,
  .check-out-date {
    width: 100%;
  }

  .adult-number,
  .kid-number {
    width: 40%;
  }

  .check-avail {
    width: 100%;
    padding: 16px;
  }

  .calendar {
    display: block;
  }

  .fa-calendar-alt {
    font-size: 18px;
  }

  .calendar {
    bottom: 10px;
    right: 4px;
  }

  .carousel-indicators {
    display: none;
  }

  .signup {
    width: 100%;
    margin: 10px 0;
  }
}
