/* Hero content */
.hero-content img {
  width: 100%;
  height: auto;
}

.pick-date {
  width: 826px;
  height: 76px;
  margin: 20px auto;
  background-color: rgb(83, 83, 83, 0.85);
  overflow: hidden;
  border-radius: 10px;
}

.check-in-date,
.check-out-date {
  width: 214px;
  height: 100%;
  padding: 8px 16px;
}

.calendar {
  position: absolute;
  bottom: 10px;
  right: 8px;
  width: 36px;
  z-index: 1;
}

.fa-calendar-alt {
  font-size: 24px;
  color: #f3a70c;
  cursor: pointer;
}

.kid-number > label,
.adult-number > label,
.check-in-date > label > p,
.check-out-date > label > p {
  text-align: center;
  line-height: 24px;
  color: #fff;
  margin: 0;
  font-family: H-condensedbold;
}

.hero-content input[type="text"],
.hero-content input[type="number"] {
  width: 100%;
  background-color: #12121200;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-family: H-condensedbold;
  font-size: 24px;
}

.hero-content input[type="text"] {
  padding: 0 8px;
}

.hero-content input[type="number"] {
  text-align: center;
  padding: 0;
}

.hero-content input[type="text"]:focus,
.hero-content input[type="number"]:focus {
  outline: none;
  border-color: #f3a70c;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1 !important;
}

.adult-number,
.kid-number {
  width: 112px;
  padding: 8px 16px;
}

.check-avail {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3a70c;
  width: 174px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-family: H-condensedbold;
}

.check-avail:hover {
  background-color: #be820a;
}

.guest-number {
  display: flex;
  justify-content: space-between;
}

h5.des::after {
  content: "";
  width: 40%;
  height: 2px;
  background-color: #f3a70c;
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
}

.card-body .btn:hover {
  transform: translateY(-10px);
}

.col i {
  color: #f3a70c;
}

.icon {
  width: 24px;
}

p.active {
  background-color: #054e61 !important;
  color: white;
}

div.filter {
  overflow-x: auto;
}

p.border.border-secondary.rounded-pill {
  line-height: 36px;
  cursor: pointer;
  border: 1px solid #054e61;
  transition: 0.5s ease-in-out;
}

p.border.border-secondary.rounded-pill:hover{
  background-color: #f3a70c;
}

/* End of Herocontent */

@media (max-width: 1199.98px) {
  .hero-content img {
    width: 100%;
    height: auto;
  }

  .hero-content input[type="text"],
  .hero-content input[type="number"] {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .hero-content img {
    width: 100%;
    height: auto;
  }

  .hero-content input[type="text"],
  .hero-content input[type="number"] {
    font-size: 20px;
    text-align: center;
  }

  .pick-date {
    width: fit-content;
  }

  .check-in-date,
  .check-out-date {
    width: 180px;
    padding: 8px 16px;
  }

  .adult-number,
  .kid-number {
    width: 90px;
  }

  .check-avail {
    width: 130px;
  }

  .calendar {
    bottom: 15px;
    right: 4px;
  }

  .fa-calendar-alt {
    font-size: 20px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1 !important;
  }

  .signup {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 575.98px) {
  .hero-content input[type="text"],
  .hero-content input[type="number"] {
    font-size: 18px;
    text-align: center;
  }

  .pick-date {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: static;
    transform: translateX(0%);
    margin-top: 16px;
  }

  .check-in-date,
  .check-out-date {
    width: 100%;
  }

  .adult-number,
  .kid-number {
    width: 40%;
  }

  .check-avail {
    width: 100%;
    padding: 16px;
  }

  .calendar {
    display: block;
  }

  .fa-calendar-alt {
    font-size: 18px;
  }

  .calendar {
    bottom: 10px;
    right: 4px;
  }

  .carousel-indicators {
    display: none;
  }

  .signup {
    width: 100%;
    margin: 10px 0;
  }

  a.btn{
    width: 120px !important;
  }
}
