.photo-area .carousel {
  max-width: 1200px;
  border-radius: 12px !important;
}

p.h5 {
  color: #f3a70c;
}

.carousel{
  max-width: fit-content !important;
  border-radius: 12px;
  overflow: hidden;
}

/* accordion */

.accordion-button {
  background: linear-gradient(45deg, #054e61 55%, #fff 45%) !important;
}

.accordion-body {
  border: none !important;
  border-style: hidden;
}

.btn:focus {
  outline: none;
}

@media (max-width: 991.98px) {
  .accordion-button {
    background: linear-gradient(45deg, #f3a60cc7 65%, #fff 35%) !important;
  }
}
