* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: H-regular;
  src: url("../fonts/helveticaneue.ttf") format("truetype"),
    url("../fonts/helveticaneue.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: H-condensedbold;
  src: url("../fonts/helveticaneuecondensedbold.ttf") format("truetype"),
    url("../fonts/helveticaneuecondensedbold.woff") format("woff");
  font-display: block;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: H-regular;
}

/* Navigation bar */

nav {
  /* height: 145px; */
  font-size: 20px;
  line-height: 30px;
}

nav .container-fluid {
  padding: 0 !important;
}

.padding-standard {
  padding: 64px 100px;
}

.px-100 {
  padding: 0 100px;
}

.nav-item a {
  position: relative;
  color: #121212 !important;
}

.dropdown a {
  text-align: center;
}

.nav-item {
  margin-left: 24px;
}

.nav-link,
.signup {
  font-family: H-condensedbold;
  font-size: 1.1rem;
}

.nav-link:hover,
.nav-link.active,
.nav-item:hover,
.dropdown-item:hover {
  font-weight: bold;
  cursor: pointer;
  color: #054e61 !important;
}

.nav-link.active::before {
  content: "";
  width: 100%;
  padding: 0 8px;
  position: absolute;
  top: 35px;
  left: 0;
  border-bottom: 3px solid #f3a70c;
}

.nav-link::before {
  content: "";
  width: 0%;
  padding: 0px;
  position: absolute;
  top: 35px;
  left: 0;
  border-bottom: 3px solid #f3a70c;
  transition: width 0.5s ease-in-out;
}

.nav-link:hover::before {
  content: "";
  width: 100%;
}

.dropdown-toggle:focus,
.chat-btn {
  outline: none;
}

.title {
  font-family: H-condensedbold;
  color: #054e61 !important;
}

.des {
  font-family: H-condensedbold;
  color: #177185;
}

.dropdown-item,
.font-condense {
  font-family: H-condensedbold !important;
}

ul.dropdown-menu {
  padding: 0 !important;
  overflow: hidden;
}

.dropdown-menu .dropdown-item:hover {
  background: #eca413;
}

.font-regular {
  font-family: H-regular !important;
}

.divider {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  padding-bottom: 64px;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/bg/footer.webp");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

hr {
  color: #eca413;
  border: 1px solid #eca413;
  width: 100%;
  opacity: 1;
}

.social-media i {
  font-size: 32px;
  color: #f3a70c;
}

.back-to-top,
.chat-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f3a70c;
  right: 21px;
  border: none;
  z-index: 1000;
}

.back-to-top {
  bottom: 80px;
}

.chat-btn {
  bottom: 20px;
}

.back-to-top > a > i,
.chat-btn > i {
  font-size: 25px;
}

#chatModal .modal-dialog .modal-header {
  background-color: #eca413;
}

.card {
  border-radius: 12px !important;
  border: 2px solid rgba(83, 83, 83, 0.25);
  height: 100%;
}

.card img {
  transition: transform 0.5s ease-in-out;
}

.card:hover img {
  transform: scale(1.05);
}

.btn {
  width: 160px;
  transition: 0.5s;
  border: 2px solid #f3a70c;
}

.primary-color {
  background: #f3a70c;
}

h5.des {
  color: #177185;
}

/* Sign-up */

.signup {
  padding-top: 0;
  padding-bottom: 0;
  width: 90px;
  border-radius: 20px;
  border: 3px solid #f3a70c;
  text-align: center;
  cursor: pointer;
}

.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f3a70c;
  border-radius: 50px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}

.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Modal */

.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: #f3a70c;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f0c062;
  /* border: 1px solid #f3a70c; */
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.book-now {
  background: #f3a70c !important;
  font-weight: bold;
}

.more-details {
  background: #fff;
}

.nav-link .fa-user-circle-o {
  color: #054e61 !important;
  cursor: pointer;
}

.toastMessage {
  z-index: 9999;
  bottom: 21px;
  right: 21px;
  transition: display 0.5 ease-in-out;
}

#message-text {
  min-height: 70px;
}

textarea:hover,
textarea:focus, #message-text:focus,
#sender-email:focus,
#sender-name:focus {
  border: 2px solid #eca413;
  outline: none !important;
  box-shadow: none !important;
}

textarea{
  padding: 8px;
}

@media (max-width: 1199.98px) {
  .hero-content {
    height: auto;
  }

  .hero-content img {
    width: 100%;
    height: auto;
  }

  .navbar-brand img {
    height: auto;
    width: 50px;
  }

  .nav {
    height: 90px;
  }

  .padding-standard {
    padding: 64px 80px;
  }

  .px-100 {
    padding: 0 80px;
  }

  .dropdown a {
    text-align: left;
  }

  li.nav-item {
    margin-left: 0 !important;
  }

  .divider {
    max-width: 130px;
  }
}

@media (max-width: 991.98px) {
  .navbar-brand img {
    height: auto;
    width: 50px;
  }

  .nav {
    height: 90px;
  }

  .padding-standard {
    padding: 64px 50px;
  }

  .px-100 {
    padding: 0 50px;
  }

  .dropdown a {
    text-align: left;
  }

  li.nav-item {
    margin-left: 0 !important;
  }

  .divider {
    max-width: 120px;
  }

  .btn {
    width: 120px;
  }

  .signup {
    width: 100% !important;
    margin: 10px auto;
  }
}

@media (max-width: 575.98px) {
  .padding-standard {
    padding: 40px 15px;
  }

  .px-100 {
    padding: 0 15px;
  }

  .divider {
    display: block;
    margin: 0 auto;
    max-width: 100px;
  }

  .btn {
    width: 140px;
  }

  .signup {
    width: 100%;
    margin: 10px 0;
  }

  #coupon{
    width: 50%;
  }
}
