section{
    background-image: url('../img/bg/thanky.webp');
    background-attachment: scroll;
    background-position: fixed;
    background-size: cover;
}

div.container{
    background-color: rgba(93, 91, 91, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid #d9d9d9;
    border-radius: 12px;
}